#container{
    height: 200px;
    width: 300px;
    display: flex ;
    flex-direction: column ;
    /*flex direction property
    row- boxes arranged in L to R
    row-reverse- boxes arranged in R to L
    column- boxes arranged in t tp bottom
    column-reverse-boxes arranged in bottom t0 top
    indivdual elements try to fit in the flexbox apna size constraint kar ke bhi as long as their font sizr permits*/

}

div {
    height:50px
    width: 50px;
    display:inline-block;
    border: 2px solid black;
}
#box1{
    background-color: aqua;
}

#box2{
    background-color:red;
}

#box3{
    background-color: green;
}
#box4{
    background-color: yellow;
}
#box5{
    background-color: pink;
}