div{
    height: 50px;
    width: 50px;
    background-color: pink;
}

@media(width:600px){
    div{
        background-color: red;
        }
        }
/*we can also write as min width so that we cover a range of values*/
@media(min-width:200px)and(max-width:300px){
    div{
        background-color:yellow;
        }

}


